@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rt-color-white: #eae9fc;
  --rt-color-dark: #151515;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  @apply bg-light-background text-light-text;
}

.dark {
  @apply bg-dark-background text-dark-text;
}
